.wepster-portal-popup {
  max-height: 420px;
  border-radius: 5px;
}
.wepster-portal-form {
  box-shadow: 0 0 0 !important;
  max-height: 420px;
  border-radius: 4px;
}
.center {
  padding: 0;
  display: flex;
  justify-content: center;
}
